* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
}
p {
  font-size: 10rem;
}
#deco {
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
}
#deco2 {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}
/*.item {
  border: 4px solid red;
  border-radius: 4px;
}*/
/*Mobile and SplitScreen*/
@media screen and (max-width: 968px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-rows: 2fr 1fr auto;
    grid-template-columns: repeat(2,auto);
    grid-row-gap: 10px;
  }
  .nested_navbar0 {
    visibility: visible;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, auto);
    justify-items: right;
    justify-content: right;
    grid-column-gap: 10px;
    padding-top: 20px;
  }
  .nested_navbar1 {
    visibility: hidden;
  }
  .nested_navbar2 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-items: center;
    justify-content: center;
    grid-column-gap: 20px;
  }
  .nested_navbar3 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-row-gap: 20px;
  }
  .navbar {
    display: grid;
    grid-column: 1;
    background: rgba(0, 0, 0, 0.3) url('https://raw.githubusercontent.com/Lindo-code/sdrowvieli/main/images/Hd.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
  }
  .nested_navbar0 > span {
    text-align: right;
  }
  .nested_navbar2 > h2 {
    display: grid;
    font-size: 3.3em;
    font-family: "Playfair Display", Times New Roman;
    color: white;
    padding: 20px;
  }
  .nested_navbar2 > span {
    display: none;
  }
  #link1 {
    text-decoration: none;
    color: white;
  }
  #link2 {
    text-decoration: none;
    color: white;
  }
  #link3 {
    text-decoration: none;
    color: white;
  }
  #link4 {
    text-decoration: none;
    color: white;
  }
  #link5 {
    text-decoration: none;
    color: white;
  }
  /*Body*/
  #title1 {
    text-align: center;
  }
  .body {
    display: grid;
    grid-column: 1;
    width: 100%;
    margin: 0;
  }
  #menu {
    display: none;
    /*change to grid to show*/
    grid-row: 1 / span 2;
    grid-column: 2;
    background-color: grey;
    z-index: 1000;
  }
  .nested_menu {
    /*make scrollable*/
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 10px;
    grid-gap: 0;
  }
  .sidebar {
    display: grid;
    grid-column: 1;
  }
  .email {
    display: grid;
    grid-column: 1 / span 2;
  }
  .footer {
    display: grid;
    grid-column: 1 / span 2;
  }
}
/*Tablet*/
@media screen and (min-width: 968px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr auto auto;
    grid-template-columns: repeat(12, auto);
    grid-gap: 20px;
  }
  /*Navbar*/
  .nested_navbar0 {
    visibility: hidden;
  }
  .nested_navbar1 {
    visibility: visible;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, auto);
    justify-items: right;
    justify-content: right;
    grid-column-gap: 20px;
    margin-top: -20px;
  }
  .nested_navbar2 {
    display: grid;
    grid-template-areas:
    "t1 t1 t1 t1 t1"
    "l1 l2 l3 l4 l5";
    justify-items: center;
    justify-content: center;
    grid-column-gap: 20px;
  }
  .nested_navbar2 > h2 {
    display: grid;
    grid-area: t1;
    font-size: 3.5em;
    font-family: "Playfair Display", Times New Roman;
    color: white;
  }
  .hr_solid {
    width: 100%;
    height: 0;
    border: 1px solid white;
    margin-top: 2px;
  }
  .hr_solid1 {
    width: 90%;
    height: 0;
    border: 0.5px solid grey;
    margin-top: 2px;
  }
  .nested_navbar2 > span {
    text-decoration: none;
    padding-bottom: 6em;
    margin-top: -2em;
    font-family: "Jost", Sans-Serif;
    font-size: 0.9em;
    font-weight: bold;
  }
  #link1 {
    text-decoration: none;
    color: white;
  }
  #link2 {
    text-decoration: none;
    color: white;
  }
  #link3 {
    text-decoration: none;
    color: white;
  }
  #link4 {
    text-decoration: none;
    color: white;
  }
  #link5 {
    text-decoration: none;
    color: white;
  }
  .navbar {
    display: grid;
    grid-column: 1 / span 12;
    background: rgba(0, 0, 0, 0.3) url('https://raw.githubusercontent.com/Lindo-code/sdrowvieli/main/images/Hd.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    grid-row-gap: 40px;
  }
  /*Body*/
  #title1 {
    text-align: center;
  }
  .body {
    display: grid;
    grid-row: 2;
    grid-column: 2 / span 11;
  }
  .menu {
    display: none;
  }
  .nested_menu {
    display: none;
  }
  /*Sidebar*/
  .sidebar {
    display: grid;
    grid-row: 2;
    grid-column: 1 / span 1;
  }
  /*e-mail*/
  .email {
    display: grid;
    griid-row: 3 / span 1;
    grid-column: 1 / span 12;
  }
  /*Footer*/
  .footer {
    display: grid;
    grid-row: 5;
    grid-column: 1 / span 12;
  }
}
/*Desktop*/
@media screen and (min-width: 1025px) {}
